body {
  height: 100vh;
  margin: 0;
  background: var(--gradient-color);
}

.auth-block {
  height: 100vh;
  width: 30%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--dark-transparent-background);
}

.auth-block {
  &__wrapper {
    width: 100%;
  }
}