.error-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-code {
  &__wrapper {
    width: max-content;
    background: var(--gradient-color);
    border-radius: 120px;
  }

  &__text {
    padding: 60px 120px;
    margin: 0;
    font-family: var(--logo-font);
    color: var(--light-text);
    font-size: 120px;
    line-height: 120px;
    text-align: center;
  }
}

.error-message {
  padding: 24px;
  margin: 0;
  color: var(--dark-grey-text);
}