.searching-panel {
  padding: 12px 24px;
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}

.searching-panel {
  &__input {
    width: 100%;
    padding: 8px 36px 8px 12px;
    line-height: 16px;
    border: 0;
    border-radius: 120px;
    box-sizing: border-box;
    outline: none;
    background-color: var(--light-grey-background-color);
  }

  &__icon {
    top: 5px;
    right: 36px;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: right;
    font-size: 20px;
    color: var(--dark-grey-text);
  }
}
